<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
  <section id="script.module.mwoscrapers">
    <category id="providers" label="32000">
      <group id="torrent_providers" label="32001">
        <setting id="provider.torrentio" type="boolean" label="32002">
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="provider.torrentio.endpoint" type="string" label="32004">
          <default></default>
          <control type="edit" format="string"/>
        </setting>
        <setting id="provider.comet" type="boolean" label="32003">
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="provider.comet.endpoint" type="string" label="32005">
          <default></default>
          <control type="edit" format="string"/>
        </setting>
      </group>
    </category>
  </section>
</settings>
