<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
  <section id="script.module.mwoscrapers">
    <category id="providers" label="32000">
      <group id="torrent_providers" label="32001">
        <setting id="provider.torrentio" type="boolean" label="32002">
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="provider.torrentio.endpoint" type="string" label="32004">
          <default>https://torrentio.strem.fun</default>
          <control type="edit" format="string"/>
        </setting>
        <setting id="provider.comet" type="boolean" label="32003">
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="provider.comet.endpoint" type="string" label="32005">
          <default>https://comet.feels.legal</default>
          <control type="edit" format="string"/>
        </setting>
        <setting id="provider.torz" type="boolean" label="32006">
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="provider.torz.endpoint" type="string" label="32007">
          <default>https://stremthru.elfhosted.com/stremio/torz</default>
          <control type="edit" format="string"/>
        </setting>
        <setting id="provider.mediafusion" type="boolean" label="32008">
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="provider.mediafusion.endpoint" type="string" label="32009">
          <default>https://mediafusionfortheweebs.midnightignite.me</default>
          <control type="edit" format="string"/>
        </setting>
        <setting id="provider.eztv" type="boolean" label="32010">
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="provider.eztv.endpoint" type="string" label="32011">
          <default>https://eztvx.to</default>
          <control type="edit" format="string"/>
        </setting>
        <setting id="provider.piratebay" type="boolean" label="32012">
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="provider.piratebay.endpoint" type="string" label="32013">
          <default>https://apibay.org</default>
          <control type="edit" format="string"/>
        </setting>
      </group>
    </category>
  </section>
</settings>
